# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
_posts/2021-11-29-内存管理三层次之用户态软件上层：HTK内存管理.md
_posts/2021-11-29-内存管理三层次之用户态软件上层：HTK内存管理.md
